/*?-------Inicio estilos NavBar-------*/
.navbar {
  background-color: #333;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #555;
  color: #f0f0f0;
}

.nav-links a:active,
.nav-links a.active {
  background-color: #007bff;
  color: #fff;
}
/*?-------Fin estilos NavBar-------*/